body {
	background-color: #f9f9f9;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

a:link, a:active, a:visited { 
	color: #333;
	text-decoration: none;
}

form {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

a:hover { 
	color: #000;
	text-decoration: underline;
}

a.on:link, a.on:active, a.on:visited { 
	color: #333;
	text-decoration: underline;
}

a.on:hover { 
	color: #000;
	text-decoration: underline;
}

div {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
	background-color: #ffffff;
	padding: 0px;
	margin: 0px;
}

div.title {
	width: 803px;
	height: 13px;
	border: solid 1px #cccccc;
	margin: 5px 5px 5px 5px;
	padding: 8px;
	clear: both;
}

div.menu {
	width: 180px;
	border: solid 1px #cccccc;
	padding: 8px;
	float: left;
}

div.contentbox {
	width: 600px;
	border: 1px solid #cccccc;
	padding: 8px;
	float: left;
}

div.divider {
	border: 1px solid #ccc;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	margin-bottom: 5px;
}

div.innercontent {
	margin: 5px;
	width: 575px;
	padding: 5px;
	border: solid 1px #dddddd;
	background-color: #fcfcfc;
}

div.left {
	float: left;
	background-color: transparent;
}

div.right {
	float: right;
	background-color: transparent;
}

div.spacer {
	clear: both;
	background-color: transparent;
}

div.menuitems {
	margin-left: 3px;
	padding-left: 7px;
	margin-top: 3px;
	border: 1px solid #dddddd;
	border-right: 0px;
	border-top: 0px;
	border-bottom: 0px;
}

div.parentrow {
	background-color: transparent;
}

span {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
}

span.small {
	font-family: arial, verdana, helvetica, sans-serif;
	font-size: 10px;
}

span.title {
	font-weight: bold;
	font-size: 11px;
}

span.menutitle {
	font-weight: bold;
}

p.itemspace {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 5px 0px;
}

iframe {
	border: 1px solid #bbb;
}

.admintext {
	border: 1px solid #bbb;
	height: 15px;
	width: 350px;
	font-family: Verdana, arial;
	font-size: 10px;
	background-color: #f9f9f9;
	line-height: 14px;
}

.adminfile {
	border: 1px solid #bbb;
	height: 15px;
	width: 354px;
	font-family: Verdana, arial;
	font-size: 10px;
	background-color: #f9f9f9;
	line-height: 14px;
}

.admintextfull {
	border: 1px solid #bbb;
	height: 14px;
	width: 585px;
	font-family: Verdana, arial;
	font-size: 10px;
	background-color: #f9f9f9;
	line-height: 14px;
}

.adminsubmit {
	border: 1px solid #bbb;
	height: 19px;
	width: 110px;
	font-family: verdana, arial;
	font-size: 10px;
	background-color: #f9f9f9;
	cursor:	pointer;
	cursor:	expression("hand");
	margin-top: 1px;
	font-weight: bold;
	margin-bottom: 1px;
}

.adminsubmitfull {
	border: 1px solid #bbb;
	height: 19px;
	width: 180px;
	font-family: verdana, arial;
	font-size: 10px;
	background-color: #f9f9f9;
	cursor:	pointer;
	cursor:	expression("hand");
	margin-top: 1px;
	font-weight: bold;
	margin-bottom: 1px;
}

.adminbutton {
	border: 1px solid #bbb;
	height: 19px;
	width: 110px;
	font-family: verdana, arial;
	font-size: 10px;
	background-color: #f9f9f9;
	cursor:	pointer;
	cursor:	expression("hand");
	margin-top: 1px;
	margin-bottom: 1px;
	font-weight: bold;
}

.adminselect {
	border: 1px solid #bbb;
	height: 15px;
	width: 355px;
	font-family: Verdana, arial;
	font-size: 10px;
	background-color: #f9f9f9;
	line-height: 14px;
	margin-top: 1px;
	margin-bottom: 2px;
}

.admintextarea {
	border: 1px solid #bbb;
	height: 15px;
	width: 350px;
	height: 150px;
	font-family: Verdana, arial;
	font-size: 10px;
	background-color: #f9f9f9;
	line-height: 14px;
}