body	{
	margin: 0px;
	padding: 0px;
	font-family: georgia, "Book Antiqua", palatino, serif;
	color: #000;
	background: #C33;  
}

div, p, th, td, li, dd, dl, dt    {
	font-family:  georgia, "Book Antiqua", palatino, serif;
}

a, a:link, a:visited, a:active, a:hover {
	color: #C33;
	text-decoration: underline;
	background-color: transparent;
}

dt 	{
	font-weight: bold;
}

ol, li, dl, dt, dd {
	line-height: 1.1em;
}

p {
  font-size: 16.5px;
	margin-top: 0; padding-top: 0;
	line-height: 1.1em;
}	

blockquote {
	padding: 8px 0px 5px 8px;
	margin: 0px 0px 0px 10px;
}

h1	{
	color: #472F92;
	font-size: 26px;
}
	
h2	{
	font-size: 22px;
	color: #C33;
}
	
h3	{
	font-size: 20px;
	color: #472F92;
}
	
h4, .subhead {
	font-size: 15px;
	color: #C33;
}
	

h5	{
	font-size: 14px;
	color: #C33;
}
	
h6	{
	font-size: 12px;
	color: #C33;
}		
	
h1, h2, h3, h4, h5, h6, .subhead {
	font-family: verdana, helvetica, arial, sans-serif;
	background-color: transparent;
	font-weight: bold;
	line-height: 1.1em;
}

img	{
	border:	0px;
}

.footer {
	padding: 3px 0 10px 0;
	font: 11px verdana, geneva, arial, helvetica, sans-serif;
	color: #FFC;
}

.footer a:link, .footer a:visited, .footer a:active, .footer a {
	color: #FFC;
	text-decoration : none;
	font-weight: normal;
}

.footer a:hover {
	color: #FFC;
	text-decoration : underline;
	font-weight: normal;
}

.footer {
	padding: 3px 0 0px 0;
	font: 11px verdana, geneva, arial, helvetica, sans-serif;
	color: #FFC;
}

.smallfooter {
	padding: 3px 0 0px 0;
	font-size: 9px;
	font-family:verdana, geneva, arial, helvetica, sans-serif;
	color: #FFC;
}

.smallfooter a:link, .smallfooter a:visited, .smallfooter a:active, .smallfooter a {
	color: #FFC;
	text-decoration : none;
	font-size: 9px;
	font-family:verdana, geneva, arial, helvetica, sans-serif;
	font-weight: normal;
}

.smallfooter a:hover {
	font-size: 9px;
	font-family:verdana, geneva, arial, helvetica, sans-serif;
	color: #FFF;
	text-decoration : underline;
	font-weight: normal;
}

.small {
	font-size: 11px;
	line-height: 1.3em;
	font-family: verdana, helvetica, arial, sans-serif;
	color: #000;
	font-weight: normal;
}

.small a:link, .small a:visited, .small a {
	color: #C33;
	text-decoration: none;
}

.small a:active, .small a:hover {
	color: #C33;
	text-decoration: underline;
}

.error {
	color: #C33;
}

b {
	font-weight: bold;
}

.nav {
	font-size: 11px;
	font-family: verdana, helvetica, arial, sans-serif;
	font-weight: normal;
}

.nav a:link {color: #000;}
.nav a:visited {color: #000;}
.nav a:active {color: #C33;} 
.nav a:hover {color: #C33;}

.navon {
	color: #C33;
	font-weight: bold;
}

input.textbox, textarea  { 
	font-size: 11px; 
	font-family: Verdana, Helvetica, Arial, sans-serif;
	background-color: #FFF; 
	color: #000;
	border: 2 solid #000;
}
				   
select, optgroup, option     { 
 	font-size: 11px; 
	font-family: Verdana, Helvetica, Arial, sans-serif;
  background-color: #FFF; 
	color: #000;
}

optgroup, option {
	border-style:none;
} 

select {
	border-style: solid;
	border-color: #000;
}

input.radio {
	background-color: #ffffff;
}
			   
input.button     { 
	font-size: 11px; 
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-weight: bold;
	background-color: #C33; 
	color: #FFF;
	border: 2 solid #000;
}	